html, body {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.calculator {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 400px;
  height: 500px;
}

.display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  background-color: rgb(75, 75, 75);
  font: 55px helvetica;
  color: lightgray;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  border: solid gray 1px;
}

.buttons button {
  border: solid gray 1px;
  width: 25%;
  font: 40px helvetica;
  padding: 10px 0px;
}

.zero {
  flex-grow: 1;
}


