html, body {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.calculator {
  width: 475px;
  background-color: gray;
  border: solid black 2px;
  border-radius: 20px;
}

.display {
  display: flex;
  align-items: flex-end;
  margin: 20px;
  height: 110px;
  border: solid black 1px;
  border-radius: 15px;
  background-color: lightgray;
  font: 50px monospace;
  padding-left: 20px;
  padding-bottom: 10px;
}

.buttons {
  /* border: solid black 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  
}

.buttons button {
  padding: 10px 30px;
  font: 50px monospace;
  font-weight: bold;
  margin: 10px 0px;
  border-radius: 15px;
  border-style: none;
}

.clear {
  display: flex;
  justify-content: flex-end;
}

.clear button {
  font: 20px monospace;
  font-weight: bold;
  margin: 0px 20px;
  padding: 0px 33px;
  border-radius: 6px;
  border-style: none;
}

